@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

body {
    font-family: 'Anton', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header{
    padding-top: 57px;
    background: url('./../img/header/header-bg.jpg');
    padding-bottom: 322px;
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.header__top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav {
    width: 1169px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 69px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap:40px;
    align-items: center;
}
.nav-item {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;    
}
.header-tel {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.header__content {
    margin-top: 216px;
}
.header__text {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
.header__title {
    font-family: 'Anton';
    font-weight: 400;
    font-size: 100px;
    line-height: 151px;
    color: #FFFFFF;
    margin-top: -9px;
}
.header-btn {
    width: 238px;
    height: 57px;
    border: 1px solid #FFFFFF;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

/* SECTION ABOUT */

.about {
    padding-top: 113px;
}

.about__wrapper{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about__title{
    font-family: 'Anton';
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    color: #000000;    
}


.about__left__block {
    display: flex;
    flex-direction: column;
    max-width: 564px;
}
.about__sub__title {
    margin-top: 58px;
    font-family: 'Anton';
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
}
.about__left__text {
    margin-top: 19px;
}
.about__left__img {
    margin-top: 113px;
    display: flex;
    flex-direction: row;
    gap:29px;
}

.about__text__right {
    margin-top: 19px;
    max-width: 564px;
 
}

.about-img-3{
    margin-top: 67px;
}

/* FOOOTER */

.footer {
    margin-top: 114px;
    background-color: rgba(128, 128, 128, 0.479);
    height: 100px;
}
.container {
}
.footer__content {
    display: flex;
    flex-direction: row;
    gap: 55px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.footer__corp {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.footer__info {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;    
}